@import "normalize.styl"
@import "nib"

body
	background black

	
.back
	height 100%
	position: absolute
	width 100%
	.fondo
		-moz-filter blur(15px) 
		-ms-filter blur(15px) 
		-o-filter blur(15px) 
		-webkit-filter blur(15px)
		background-image url("../img/scale.jpg")
		background-position center center
		background-repeat no-repeat;
		background-size cover
		filter blur(15px)
		height 100%
		
	.formu
		background rgba(0,0,0,0.5)
		height 100%
		position absolute
		top 0
		width 100%
		text-align center
		h1
			margin: 1.6em 0 1em 0;
			font-weight lighter
			color #4d07cd
		.caja
			border-radius: 5px;
			height: 400px;
			margin: 0 auto;
			position: relative;
			top: 30%;
			width: 350px;
			border: 1px solid
			text-align: center;
			background: #fff;
			box-shadow: 6px 7px 20px;
			input
				display: inline-block;
				border-radius: 3px;
				padding: 0.6em 1em;
				margin: 1em 1.5em 1em 1.5em;
				text-align: center;
				font-size: 1.1em;
				margin-bottom: 1em;
				border: 0;
				border 1px solid #4d07cd
				font-weight: normal;
				
				&:focus
					border 1px solid #000
				
			input[type=submit]
				
				border 0
				background none
				border 2px solid #4d07cd
				padding 25px 50px
				width auto
				line-height 0px
				transition 0.5s background
				transition 0.5s white
				transition 0.5s border, white, background
				color #4d07cd
				font-weight bold
			
				&:hover
					background #4d07cd
					color #fff
					border: 2px solid #000;
					font-weight bold
		
.dragon
	background-image: url("../img/draco.png");
	background-repeat: no-repeat;
	-webkit-background-size: contain;
	-moz-background-size: contain;
	background-size: contain;
	display: inline-block;
	width: 300px;
	height: 300px;
	position: relative;
	/* margin: 0 auto; */
	top: -298px;