@import "normalize.styl"
@import "nib"

@font-face 
	font-family 'icomoon'
	src url('../fonts/icomoon.eot?sqehjs')
	src url('../fonts/icomoon.eot?#iefixsqehjs') format('embedded-opentype'),
		url('../fonts/icomoon.woff?sqehjs') format('woff'),
		url('../fonts/icomoon.ttf?sqehjs') format('truetype'),
		url('../fonts/icomoon.svg?sqehjs#icomoon') format('svg')
	font-weight normal
	font-style normal


[class^="icon-"], [class*=" icon-"] 
	font-family 'icomoon'
	speak none
	font-style normal
	font-weight normal
	font-variant normal
	text-transform none
	line-height 1

	/* Better Font Rendering =========== */
	-webkit-font-smoothing antialiased
	-moz-osx-font-smoothing grayscale


.icon-plus:before 
	content "\e600"

.icon-envelope:before 
	content "\e60a"

.icon-location:before 
	content "\e601"

.icon-user:before 
	content "\e602"

.icon-search:before 
	content "\e603"

.icon-key:before 
	content "\e60b"

.icon-lock:before 
	content "\e604"

.icon-confi:before 
	content "\e606"

.icon-eye:before 
	content "\e607"

.icon-star:before 
	content "\e609"

.icon-check:before 
	content "\e605"

.icon-close:before 
	content "\e608"


body
	background black
::-moz-placeholder
	color #4d07cd
	
.back
	height 100%
	position absolute
	width 100%
	.fondo
		-moz-filter blur(15px) 
		-ms-filter blur(15px) 
		-o-filter blur(15px) 
		-webkit-filter blur(15px)
		background-image url("../img/scale.jpg")
		background-position center center
		background-repeat no-repeat
		background-size cover
		filter blur(10px)
		height 100%
		
		
	.formu
		background rgba(0,0,0,0.5)
		height 100%
		position absolute
		top 0
		width 100%
		text-align center
		h1
			margin 1.6em 0 1em 0
			font-weight lighter
			color #4d07cd
		.caja
			border-radius 5px
			height auto
			margin 0 auto
			position relative
			top 30%
			width 350px
			border 1px solid
			text-align center
			background #fff
			box-shadow 6px 7px 20px
			span
				margin-right 0.5em
			a 
				text-decoration none
				text-align right
				display block
				margin 1em 1.5em 1.5em 0
				&:hover
					color #1389ED
			input
				display inline-block
				border-radius 3px
				padding 0.6em 1.5em
				margin 1em 1.5em 1em 1.5em
				text-align center
				font-size 1.1em
				margin-bottom 1em
				border 0
				border 1px solid #4d07cd
				font-weight normal
				background rgba(204, 204, 204, 0.85)
				transition 0.8s background
				
				
				&:focus
					box-shadow 0px 0px 14px #4D07CD
					background white
				
			input[type=submit]
				
				border 0
				background none
				border 2px solid #4d07cd
				padding 25px 50px
				width auto
				line-height 0px
				transition all 0.15s ease-in-out 0s
				color #4d07cd
				font-weight bold
			
				&:hover
					background #4d07cd
					color #fff
					border 2px solid transparent
					font-weight bold
				
.dragon
	background-image url("../img/draco.png")
	background-repeat no-repeat
	background-size 100%
	display inline-block
	width 300px
	height 300px
	position relative
	/* margin 0 auto */
	top -45%
.usuario
.password	
	position relative
	span
		position: absolute;
		line-height: 80px;
		left: 58px;
		font-size: 1.2em;
		display: inline-block;
		color: #4D07CD;
		